{% extends 'base.html' %}
{% block title %}
    Password reset
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="col-lg-8 col-12 mx-auto">
            <form class="custom-form contact-form" method="post">
                {% csrf_token %}
                <h2 class="text-center mb-4 logo-text">Password reset</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-12">
                        {% if  form.non_field_errors %}
                            {% for error in form.non_field_errors %}<div class="newsletter-form text-danger mb-2">{{ error }}</div>{% endfor %}
                        {% endif %}
                        <div class="newsletter-form mb-2">Please enter your email address to change your password.</div>
                        {% csrf_token %}
                        <label for="id_email" class="form-label requiredField">Email address*</label>
                        <input type="email"
                               class="form-control"
                               name="email"
                               id="id_email"
                               autocomplete="email"
                               required>
                        <div class="text-danger">{{ form.email.errors }}</div>
                        <button type="submit" class="form-control">Submit</button>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
