{% extends 'base.html' %}

{% block title %}
    Password Reset Done
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <p class="lead newsletter-form logo-text text-center">Reset link sent</p>
            <hr class="my-4">
            <p>
                We've sent you instructions for setting a new password to&nbsp;the email address you provided
                (if we have such an address in&nbsp;our database).
                <br>
                You should receive it soon.
                <br>
                If you&nbsp;didn't receive an email, please make sure&nbsp;you have entered an address&nbsp;with&nbsp;You&nbsp;registered,
                and&nbsp;check your&nbsp;spam folder.
            </p>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-12">
                    <form class="custom-form contact-form" method="get" action="{% url 'main:index' %}">
                        <button type="submit" class="form-control">Main Page</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}