{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="site-header">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1 class="text-white">Project Detail</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a href="{% url 'main:index' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Project detail</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% include 'project_app/includes/project_details/project_details_section.html' %}
{% endblock %}
