{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <header class="site-header">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1 class="text-white">Project Detail</h1>
                    {% include 'includes/breadcrumb.html' %}
                </div>
            </div>
        </div>
    </header>
    {% include 'project_app/includes/project_details_section.html' with project=object %}
{% endblock %}
{% block jscode %}
    {% if user.is_authenticated %}
        {% include 'chat_app/includes/js_script.html' with project=object %}
    {% endif %}
{% endblock jscode %}
