{% extends "base.html" %}
{% block title %}Участники проекта{% endblock %}
{% block content %}
    <div class="container">
        <h1>Участники проекта</h1>
        {% if members %}
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Роль</th>
                        <th>Проект</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member }}</td>
                            <td>{{ member.user.email }}</td>
                            <td>{{ member.waiting_status }}</td>
                            {% if member.waiting_status == "applicated" %}
                                <!-- Создать форму с методом POST и скрытым полем csrf_token -->
                                <td>
                                    <form method="post" action="{% url 'approve_member' member.pk %}">
                                        {% csrf_token %}
                                        <!-- Создать кнопку с классом btn и текстом Approve -->
                                        <button type="submit" class="btn">Approve</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет участников в этом проекте.</p>
        {% endif %}
    </div>
{% endblock %}
