{% extends 'base.html' %}
{% load static %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <header class="site-header">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1 class="text-white">Project Listings</h1>
                    {% include 'includes/breadcrumb.html' %}
                </div>
            </div>
        </div>
    </header>
    <section class="job-section section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 mb-lg-4">
                    {% include 'project_app/includes/project_list_search.html' %}
                    {% include 'includes/paganations_info.html' %}
                </div>
                {% include 'project_app/includes/project_list_orldering.html' %}
                {% if object_list %}
                    {% for project in object_list %}
                        {% include 'project_app/includes/project_card.html' %}
                    {% endfor %}
                {% else %}
                    <p>No projects found.</p>
                {% endif %}
                {% include 'includes/paginations.html' %}
            </div>
        </div>
    </section>
{% endblock content %}
