{% extends "base.html" %}
{% block title %}Участники проекта{% endblock %}
{% block content %}
    <div class="container">
        <h1>Участники {{ object.title }}</h1>
        {{ object.members }}
        {{ object.memberships }}
        <section class="job-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    {% if object %}
                        {% include 'project_app/includes/project_own_members.html' with members=object.memberships.all %}
                    {% else %}
                        <p>Нет участников в этом проекте.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
