{% load static %}
{% load vacancy_app_tags %}
<section class="job-section section-padding pb-0"  id="job-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <h2 class="job-title mb-0">{{ object.name }}</h2>
                <div class="job-thumb job-thumb-detail">
                    <div class="d-flex flex-wrap align-objects-center border-bottom pt-lg-3 pt-2 pb-3 mb-4">
                        <p class="job-location mb-0">
                            <i class="custom-icon bi-geo-alt me-1"></i>
                            {{ object.location }}
                        </p>
                        <p class="job-date mb-0">
                            <i class="custom-icon bi-clock me-1"></i>
                            {{ object.update_at|date_diff }}
                        </p>
                        <p class="job-price mb-0">
                            {% if object.salary_from or object.salary_to %}<i class="custom-icon bi-cash me-1"></i>{% endif %}
                            {% if object.salary_from and object.salary_to %}
                                {% if object.salary_from == object.salary_to %}
                                    {{ object.salary_from }}
                                {% else %}
                                    {{ object.salary_from }} - {{ object.salary_to }}
                                {% endif %}
                            {% elif object.salary_from %}
                                from {{ object.salary_from }}
                            {% elif object.salary_to %}
                                to {{ object.salary_to }}
                            {% endif %}
                        </p>
                        <div class="d-flex">
                            {% if object.applicant_level.count > 0 %}
                                <p class="mb-0">
                                    {% for object in object.applicant_level.all %}
                                        <a href="{% url 'vacancy:job-listing' %}?selected-applicant-level={{ object.pk }}#job-section"
                                           class="badge badge-level">{{ object.name }}</a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if object.employment_type.count > 0 %}
                                <p class="mb-0">
                                    {% for object in object.employment_type.all %}
                                        <a href="{% url 'vacancy:job-listing' %}?selected-employment-type={{ object.pk }}#job-section"
                                           class="badge">{{ object.name }}</a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if object.job_type.count > 0 %}
                                <p class="mb-0">
                                    {% for object in object.job_type.all %}
                                        <a href="{% url 'vacancy:job-listing' %}?selected-job-type={{ object.pk }}#job-section"
                                           class="badge">{{ object.name }}</a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <h4 class="mt-4 mb-2">Job Description</h4>
                    <p>{{ object.description }}</p>
                    {% if object.requirements %}
                        <h5 class="mt-4 mb-3">Requirements</h5>
                        <ul>
                            <li>{{ object.requirements }}</li>
                        </ul>
                    {% endif %}
                    <div class="d-flex justify-content-center flex-wrap mt-5 border-top pt-4">
                        <a href="javascript:history.go(-1)"
                           class="custom-btn custom-border-btn btn mt-2 ms-lg-4 ms-3 me-4">Back</a>
                        {% if object.id in favorites_pk_list %}
                            <a href="{% url 'favorite_app:favorite_vacancies_remove' pk=object.id %}"
                               class="custom-btn custom-border-btn btn mt-2 ms-lg-4 ms-3 me-4">Remove from Favorites</a>
                        {% else %}
                            <a href="{% url 'favorite_app:favorite_vacancies_add' pk=object.id %}"
                               class="custom-btn btn mt-2 ms-lg-4 ms-3 me-4">Add to Favorites</a>
                        {% endif %}
                        <a href="#" class="custom-btn btn mt-2">Apply now</a>
                        <a href="{% url 'vacancy:job-listing' %}?company-id={{ object.company.pk }}#job-section"
                           class="custom-btn custom-border-btn btn mt-2 ms-lg-4 ms-3">Company Job list</a>
                        <div class="job-detail-share d-flex align-objects-center">
                            <p class="mb-0 me-lg-4 me-3">Share:</p>
                            <a href="#" class="bi-facebook"></a>
                            <a href="#" class="bi-twitter mx-3"></a>
                            <a href="#" class="bi-share"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mt-5 mt-lg-0">
                <div class="job-thumb job-thumb-detail-box bg-white shadow-lg">
                    <div class="d-flex align-objects-center">
                        <div class="job-image-wrap d-flex align-objects-center bg-white shadow-lg mb-3">
                            <img src=" {% if object.company.avatar %} {{ object.company.avatar.url }} {% else %} {% static "img/avatar/company_default_avatar.png" %} {% endif %} " class="job-image me-3 img-fluid" alt="">
                        </div>
                        {% if object.id in favorites_pk_list %}
                            <a href="{% url 'favorite_app:favorite_vacancies_remove' pk=object.id %}"
                               class="bi-heart-fill ms-auto me-2"></a>
                        {% else %}
                            <a href="{% url 'favorite_app:favorite_vacancies_add' pk=object.id %}"
                               class="bi-heart ms-auto me-2"></a>
                        {% endif %}
                    </div>
                    <a href="{% url 'vacancy:company_profile' pk=object.company.pk %}"
                       class="custom-link smoothscroll">
                        <h5 class="mt-3 mb-2">{{ object.company.name|truncatechars:35 }}</h5>
                    </a>
                    <a href="{% url 'vacancy:company_profile' pk=object.company.pk %}"
                       class="custom-link smoothscroll">
                        <h6 class="mt-3 mb-2">About the Company</h6>
                    </a>
                    <p>{{ object.company.description|truncatechars:200 }}</p>
                    <h6 class="mt-4 mb-3">Additional Information</h6>
                    {% if object.company.url %}
                        <p class="mb-2">
                            <i class="custom-icon bi-globe me-1"></i>
                            <a target
                               _blank
                               href="{{ object.company.url }}"
                               class="site-footer-link">{{ object.company.url }}</a>
                        </p>
                    {% endif %}
                    {% if object.company.url %}
                        <p class="mb-2">
                            <i class="custom-icon bi-building me-1"></i>
                            {{ object.company.location }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
