{% load static %}
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="about-image-wrap custom-border-radius-start">
                    <img src="{% static 'img/professional-asian-businesswoman-gray-blazer.jpg' %}"
                         class="about-image custom-border-radius-start img-fluid"
                         alt="">
                    <div class="about-info">
                        <h4 class="text-white mb-0 me-2">Julia Ward</h4>
                        <p class="text-white mb-0">Investor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="custom-text-block">
                    <h2 class="text-white mb-2">Introduction Deve-Joint</h2>
                    <p class="text-white">
                        Deve-Joint Job is a free website template for job portals. This layout is based on Bootstrap 5 CSS framework. Thank you for visiting
                        <a href="https://www.tooplate.com" target="_parent">Tooplate website</a>.
                        Images are from <a href="https://www.freepik.com/" target="_blank">FreePik</a> website.
                    </p>
                    <div class="custom-border-btn-wrap d-flex align-items-center mt-5">
                        <a href="{% url 'main:about' %}"
                           class="custom-btn custom-border-btn btn me-4">Get to know us</a>
                        <a href="#job-section" class="custom-link smoothscroll">Explore Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="instagram-block">
                    <img src="{% static 'img/horizontal-shot-happy-mixed-race-females.jpg' %}"
                         class="about-image custom-border-radius-end img-fluid"
                         alt="">
                    <div class="instagram-block-text">
                        <a href="https://instagram.com/" class="custom-btn btn">
                            <i class="bi-instagram"></i>
                            @Deve-Joint
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
