<div class="col-lg-8 col-12">
    <h2 class="job-title mb-0">{{ cv.title }}</h2>
    <div class="job-thumb job-thumb-detail">
        <h4 class="mt-4 mb-2">Salary</h4>
        <p>{{ cv.salary }}</p>
        <p class="mb-1"><strong>Busy type:</strong>{{ cv.busy_type.name }}</p>
        <p class="mb-1"><strong>Relocation:</strong>{{ cv.relocation.name }}</p>
        <h4 class="mt-4 mb-2">Summary</h4>
        <p>{{ cv.summary }}</p>
        <h5 class="mt-4 mb-3">Technologies</h5>
        <p><strong>{{ cv.technologies }}</strong></p>
        <h5 class="mt-4 mb-3">Experience</h5>
        <p><strong>{{ cv.experience }}</strong></p>
        <h5 class="mt-4 mb-3">Education</h5>
        <p><strong>{{ cv.education }}</strong></p>
    </div>
</div>