{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    CV Detail
{% endblock title %}
{% block content %}
    <header class="site-header">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1 class="text-white">CV Detail</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                <a href="{% url 'main:index' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">CV Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container my-5">
        <div class="row">
            {% include 'cv_app/includes/cv_details_section.html' %}
            {% include 'cv_app/includes/cv_user_info_card_section.html' %}
        </div>
    </div>
{% endblock %}
