{% extends 'base.html' %}

{% load static %}

{% block content %}
  {% include 'mainapp/includes/index/hero_section.html' %}
  {% include 'mainapp/includes/index/categories_section.html' %}
  {% include 'mainapp/includes/index/about_section.html' %}
  {% include 'mainapp/includes/index/job_featured_section.html' %}
  {% include 'mainapp/includes/index/banner_section.html' %}
  {% include 'mainapp/includes/index/recent_jobs_section.html' %}
  {% include 'mainapp/includes/common/reviews_section.html' %}
  {% include 'mainapp/includes/common/cta-section.html' %}
{% endblock content %}
