{% load static %}
<section class="job-section section-padding">
    <div class="container">
        <!-- Pre List start -->
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 mb-lg-4">
                <h3>Results of 30-65 of 1500 projects</h3>
            </div>
            <div class="col-lg-4 col-12 d-flex align-items-center ms-auto mb-5 mb-lg-4">
                <p class="mb-0 ms-lg-auto">Sort by:</p>
                <div class="dropdown dropdown-sorting ms-3 me-4">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="dropdownSortingButton"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Newest Projects</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSortingButton">
                        <li>
                            <a class="dropdown-item" href="#">Latest Projects</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Higher Salary Projects</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Internship Projects</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <a href="#" class="sorting-icon active bi-list me-2"></a>
                    <a href="#" class="sorting-icon bi-grid"></a>
                </div>
            </div>
            <!-- Pre List finish -->
            <!-- List of projects start -->
            {% if projects %}
                {% for project in projects %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-thumb job-thumb-box">
                            <div class="job-image-box-wrap">
                                <a href="{% url 'project_app:detail' pk=project.pk %}">
                                    <img src="{% static 'img/jobs/it-professional-works-startup-project.jpg' %}"
                                         class="job-image img-fluid"
                                         alt="">
                                </a>
                                <div class="job-image-box-wrap-info d-flex align-items-center">
                                    <p class="mb-0">
                                        <a href="{% url 'vacancy:job-listing' %}" class="badge badge-level">Internship</a>
                                    </p>
                                    <p class="mb-0">
                                        <a href="{% url 'vacancy:job-listing' %}" class="badge">Freelance</a>
                                    </p>
                                </div>
                            </div>
                            <div class="job-body">
                                <h4 class="job-title">
                                    <a href="{% url 'project_app:detail' pk=project.pk %}"
                                       class="job-title-link">{{ project.title }}</a>
                                </h4>
                                <div class="d-flex align-items-center">
                                    <div class="job-image-wrap d-flex align-items-center bg-white shadow-lg mt-2 mb-4">
                                        <img src="{% static 'img/logos/salesforce.png' %}"
                                             class="job-image me-3 img-fluid"
                                             alt="">
                                        <p class="mb-0">Salesforce</p>
                                    </div>
                                    <a href="#" class="bi-bookmark ms-auto me-2"></a>
                                    <a href="#" class="bi-heart"></a>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="job-location">
                                        <i class="custom-icon bi-geo-alt me-1"></i>
                                        Kuala, Malaysia
                                    </p>
                                    <p class="job-date">
                                        <i class="custom-icon bi-clock me-1"></i>
                                        10 hours ago
                                    </p>
                                </div>
                                <div class="d-flex align-items-center border-top pt-3">
                                    <p class="job-price mb-0">
                                        <i class="custom-icon bi-cash me-1"></i>
                                        $50k
                                    </p>
                                    <a href="{% url 'vacancy:job-listing' %}" class="custom-btn btn ms-auto">Apply now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No projects found.</p>
            {% endif %}
            <!-- List of projects finish -->
            <!-- Pagination example START -->
            <div class="col-lg-12 col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mt-5">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">Prev</span>
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Pagination example END -->
        </div>
    </div>
</section>
