{% extends 'base.html' %}
{% block title %}
    Favorites
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="col-lg-8 col-12 mx-auto custom-form contact-form">
            <h2 class="text-center mb-4 logo-text">Favorites</h2>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8 col-12">
            {% if favorite_projects_items %}
                <h5 class="mb-4">Your {{ title }}:</h5>
                <ul>
                    {% for item in favorite_projects_items %}
                        <li>
                            <a href="{% url 'project_app:detail' item.project.pk %}">{{ item.project.title }}</a>
                            - added to favorites {{ item.add_datetime }}
                            (<a href="{% url 'favorite_app:favorite_projects_remove' item.project.pk %}">Remove</a>)
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Your favorites list is empty.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
