{% extends 'base.html' %}
{% load static %}
{% load vacancy_app_tags %}
{% block title %}
    Company Profile
{% endblock title %}
{% block content %}
    <div class="row justify-content-center pt-3">
        <div class="col-md-12 col-lg-8">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title logo-text">
                        <strong>Company:</strong> {{ object.name }}
                    </h5>
                    <p class="card-text">
                        <img alt="company avatar" style="max-height: 250px; max-width: 250px" src=" {% if object.avatar %} {{ object.avatar.url }} {% else %} {% static "img/avatar/company_default_avatar.png" %} {% endif %} " class="rounded mx-auto d-block my-4">
                        <br>
                        <strong>Description:</strong> {{ object.description }}
                        <br>
                        <strong>location:</strong> {{ object.location }}
                        <br>
                        <strong>Web address:</strong> <a href="{{ object.url }}">{{ object.url }}</a>
                        <br>
                        <strong>Created:</strong> {% get_user_date_time object.created_at %}
                        <br>
                    </p>
                    <a href="javascript:history.go(-1)"
                       class="custom-btn custom-border-btn btn me-4">Back</a>
                    <a href="{% url 'vacancy:job-listing' %}?company-id={{ object.pk }}#job-section"
                       class="custom-btn btn">Company Job list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
