{% extends 'base.html' %}
{% load vacancy_app_tags %}


{% block title %}
    Confirm Delete
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div class="col-md-8 col-lg-6">
                <h2 class="text-center mb-4 logo-text">Delete Payment Account?</h2>
                <p>
                    <strong>Name: </strong> {{ object.name }}
                    <br>
                    <strong>Description:</strong> {{ object.description }}
                    <br>
                    <strong>Type :</strong> {{ object.type }}
                    <br>
                    <strong>Director name :</strong> {{ object.director_name }}
                    <br>
                    <strong>Bank :</strong> {{ object.bank }}
                    <br>
                    <strong>Tax number :</strong> {{ object.tax_number }}
                    <br>
                    <strong>Last update :</strong> {% get_user_date_time object.update_at %}
                    <br>
                    <strong>Status :</strong> {{ object.get_status_display }}
                    <br>
                </p>

                <div class="row">
                    <div class="col-6">
                        <form action="{% url 'vacancy:payment_account_delete' pk=object.pk %}" method="post">
                            {% csrf_token %}
                            <div class="d-flex align-items-center mt-2">
                               <button class="custom-btn custom-border-btn btn me-4" type="submit">Delete Payment Account</button>
                                <a href="{% url 'vacancy:payment_account_list' %}" class="custom-btn btn me-4">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}