{% extends 'base.html' %}
{% load vacancy_app_tags %}

{% block title %}
    Profile Detail
{% endblock title %}

{% block content %}
<div class="row justify-content-center pt-3">
    <div class="col-md-12 col-lg-8">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title logo-text"><strong>Username: </strong> {{ object.username }}</h5>
                <p class="card-text">
                    <strong>First name:</strong> {{ object.first_name }}
                    <br>
                    <strong>Last name :</strong> {{ object.last_name }}
                    <br>
                    <strong>Email :</strong> {{ object.email }}
                    <br>
                    <strong>Is active :</strong> {{ object.is_active }}
                    <br>
                    <strong>Last login :</strong> {% get_user_date_time object.last_login %}
                    <br>
                    <strong>Date joined :</strong> {% get_user_date_time object.date_joined %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}