{% extends 'base.html' %}
{% block title %}
    Create Vacancy
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="col-lg-8 col-12 mx-auto">
            <form class="custom-form contact-form" method="post">
                {% csrf_token %}
                <h2 class="text-center mb-4 logo-text">Create Vacancy</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8 col-12">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="form-control">Save</button>
                        <br>
                        <a href="{% url 'vacancy:vacancy_list' %}"
                           class="custom-btn custom-border-btn btn me-4">Vacancy list</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
