<div class="d-flex flex-wrap align-items-center border-bottom pt-lg-3 pt-2 pb-3 mb-4">
    <p class="job-location mb-0">
        <i class="custom-icon bi-geo-alt me-1"></i>
        Kuala, Malaysia
    </p>
    <p class="job-date mb-0">
        <i class="custom-icon bi-clock me-1"></i>
        10 hours ago
    </p>
    <p class="job-price mb-0">
        <i class="custom-icon bi-cash me-1"></i>
        $20k
    </p>
    <div class="d-flex">
        <p class="mb-0">
            <a href="{% url 'vacancy:job-listing' %}" class="badge badge-level">Internship</a>
        </p>
        <p class="mb-0">
            <a href="{% url 'vacancy:job-listing' %}" class="badge">Freelance</a>
        </p>
    </div>
</div>
