{% load static %}
<div class="col-lg-4 col-12 mt-5 mt-lg-0">
    <div class="job-thumb job-thumb-detail-box bg-white shadow-lg">
        <div class="d-flex align-items-center">
            <div class="job-image-wrap d-flex align-items-center bg-white shadow-lg mb-3">
                <img src="{% static 'img/logos/google.png' %}"
                     class="job-image me-3 img-fluid"
                     alt="">
                <p class="mb-0">Google</p>
            </div>
        </br>
        {% include 'project_app/includes/favorite_button.html' with object_id=project.id %}
    </div>
    <h6 class="mt-3 mb-2">About the Company</h6>
    <p>Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt labore.</p>
    <h6 class="mt-4 mb-3">Contact Information</h6>
    <p class="mb-2">
        <i class="custom-icon bi-globe me-1"></i>
        <a href="#" class="site-footer-link">www.jobbportal.com</a>
    </p>
    <p class="mb-2">
        <i class="custom-icon bi-telephone me-1"></i>
        <a href="tel: 305-240-9671" class="site-footer-link">305-240-9671</a>
    </p>
    <p>
        <i class="custom-icon bi-envelope me-1"></i>
        <a href="mailto:info@yourgmail.com" class="site-footer-link">info@jobportal.co</a>
    </p>
</div>
</div>
