{% load static %}
<section class="job-section section-padding pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <h2 class="job-title mb-0">{{ project.title }}</h2>
                <div class="job-thumb job-thumb-detail">
                    {% include 'project_app/includes/detail_tag_description.html' %}
                    <h4 class="mt-4 mb-2">Project Description</h4>
                    <p>{{ project.description }}</p>
                    {% include 'project_app/includes/project_details_members.html' %}
                    {% include 'project_app/includes/detail_project_buttoms.html' %}
                </div>
            </div>
            <div class="col-lg-4 col-12 mt-5 mt-lg-0">
                {% include 'project_app/includes/detail_side_pannel.html' %}
                {% if user.is_authenticated %}
                    {% include 'chat_app/includes/chat.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
