{% load static %}
<section class="job-section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 mb-lg-4">
                {% include 'project_app/includes/project_listing/search.html' %}
                {% include 'includes/paganations_info.html' %}
            </div>
            {% include 'project_app/includes/project_listing/project_list_orlder.html' %}
            {% if projects %}
                {% for project in page_obj %}
                    {% include 'project_app/includes/project_listing/project_card.html' %}
                {% endfor %}
            {% else %}
                <p>No projects found.</p>
            {% endif %}
            {% include 'includes/paginations.html' %}
        </div>
    </div>
</section>
