{% load static %}
<section class="section-padding pb-0 d-flex justify-content-center align-items-center"
         id="search-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <form class="custom-form hero-form"
                      action="#job-section"
                      method="get"
                      role="form">
                    <h3 class="text-white mb-3">Search your dream job</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi-person custom-icon"></i></span>
                                <input type="text" name="job-title" id="job-title" class="form-control" placeholder="Job-Title" value={{ job_title|default:"" }}>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi-geo-alt custom-icon"></i></span>
                                <input type="text" name="job-location" id="job-location" class="form-control" placeholder="Location" value={{ job_location|default:"" }}>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi-cash custom-icon"></i></span>
                                <input type="number" name="job-salary-from" id="job-salary-from" class="form-control" placeholder="Salary From" min="0" max="9999999999" value={{ job_salary_from|default:"" }}>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi-laptop custom-icon"></i></span>
                                <select class="form-select form-control"
                                        name="selected-applicant-level"
                                        id="selected-applicant-level"
                                        aria-label="selected-applicant-level">
                                    <option selected value="0">Applicant Level</option>
                                    {% for level in applicant_level %}
                                        {% if selected_applicant_level == level.id %}
                                            <option selected value="{{ level.id }}">{{ level.name }}</option>
                                        {% else %}
                                            <option value="{{ level.id }}">{{ level.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi-laptop custom-icon"></i></span>
                                <select class="form-select form-control"
                                        name="selected-employment-type"
                                        id="selected-employment-type"
                                        aria-label="selected-employment-type">
                                    <option selected value="0">Employment Type</option>
                                    {% for level in employment_type %}
                                        {% if selected_employment_type == level.id %}
                                            <option selected value="{{ level.id }}">{{ level.name }}</option>
                                        {% else %}
                                            <option value="{{ level.id }}">{{ level.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi-laptop custom-icon"></i></span>
                                <select class="form-select form-control"
                                        name="selected-job-type"
                                        id="selected-job-type"
                                        aria-label="selected-job-type">
                                    <option selected value="0">Job Type</option>
                                    {% for level in job_type %}
                                        {% if selected_job_type == level.id %}
                                            <option selected value="{{ level.id }}">{{ level.name }}</option>
                                        {% else %}
                                            <option value="{{ level.id }}">{{ level.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-12">
                            <button type="submit" class="form-control">Search job</button>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-wrap align-items-center mt-4 mt-lg-0">
                                <a href="{% url 'vacancy:job-listing' %}#search-section"
                                   class="custom-btn custom-border-btn btn me-2 text-white">Reset Search</a>
                                <span class="text-white mb-lg-0 mb-md-0 me-2">Popular keywords:</span>
                                <div>
                                    <a href="{% url 'vacancy:job-listing' %}?selected-job-type=1#job-section"
                                       class="badge">Web design</a>
                                    <a href="{% url 'vacancy:job-listing' %}?selected-job-type=2#job-section"
                                       class="badge">Marketing</a>
                                    <a href="{% url 'vacancy:job-listing' %}?selected-job-type=3#job-section"
                                       class="badge">Customer support</a>
                                    <a href="{% url 'vacancy:job-listing' %}?selected-applicant-level=2#job-section"
                                       class="badge">Junior</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
